#index{

    main{

        .index__compra{
            @include flex-colum-center;

            div{
                display: flex;
                flex-direction: row;
                align-items: center;
            .index__compra--titulos{
               
               @include flex-colum-center;
            }
            }
        }

        .index__fechas{

            padding: 2em;
            @include flex-colum-center;

            .index__fechas--tabla{
                padding: 2em;
                @include flex-colum-center;

                div{
                    padding: 1em;
                    display: flex;
                    flex-direction: row;
                }
                
            }
        }

        .index__videos{

            @include flex-colum-center;

            .index__video--titulo{
                padding: 2em;
            }

            .index__video--videos{
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }

        



    }


    footer{
        .index__formulario{

            @include flex-colum-center;

            .index__formulario--titulo{
                
                @include flex-colum-center;

            }

            .index__formulario--subtitulo{

                @include flex-row-center;
            }


        }


        .redesylegal{

            @include flex-row-center;

            .redes{

                @include flex-row-center;
            }

            .legal{

                @include flex-row-center
                 
            }

        }
        

    }
}


