#listen {

    font-family: 'calibri';

    main {

        @include flex-colum-center;

        

            h1 {
                @include estilo-titulos;
                border-bottom: 8px solid black;
                padding: 1.5em 0.5em 0.5em 0.5em;
                margin-bottom: 1em;
            }
        


        .listen__grilla {
            width: 100%;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            margin: 10px;

            .video {

                @include flex-colum-center;


                h2 {
                    font-family: 'calibri';
                    font-size: 1.10em;
                    padding-bottom: 0.5em;
                    margin: 0.5em 1.5em 2em 1.5em;
                    border-bottom: 2px solid black;
                    height: 50px;
                    
                }

                div {
                    margin: 0.5em;
                    padding-right: 20px;
                    padding-bottom: 15px;
                }


            }
        }
    }


    
    footer {
        
       
        
       @include footer

    }
}


@media (max-width:950px) {

    #listen {

        main {

            .listen__grilla {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }

        }

    }

}

@media (max-width:700px) {

    #listen {

        main {

            .listen__grilla {
                width: 100%;
                @include flex-colum-center;
            }

        }

    }

}