/*paleta de colores*/

$rojo: rgb(238,50,78);
$verde: rgb(0,157,87);
$amarillo:rgb(252,177,49);
$azul: rgb(0,129,188);
$negro: rgb(35,34,35);
$blanco: withe;
$bordes-color: rgb(35,34,35);
$borde-radio: 4px;

/*paleta de colores*/

$padding-secciones: 2em;
$tamañotitulos: 3em;



